/* -------------------global--------------------------- */
*{
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

/* -----------------------------------navpab----------------------------- */

/* -----------------------------------navpab----------------------------- */
nav{
    margin: auto;
    font-family: "Poppins", sans-serif;
}
.navbar-brand{
    font-family:"Montserrat",sans-serif ;
    font-weight: 800;
}
.nav-bg{
    background-color: rgba(255, 255, 255, 0.562);
    position: fixed;
    width: 100%;
    z-index: 999;
}
a{
    text-decoration: none;
}

/* ----------------------------hello------------------------------- */
.hello{
    
    height: 100vh;
    background-image:url("../imgs/imgs/bg.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.helloLayer{
    background-color: rgba(0, 0, 0, 0.6);
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.layerContent{
    color: white;
    text-align: center;
}
.text h1{
    font-size: 50px;
    font-weight: 800;
}
.layerContent .text p {
    color: white;
    font-size: 60px;
    font-weight:100;
    
}
.typing::after {
    content: "";
    animation: typingAnimation 6s infinite;
    
}

@keyframes typingAnimation {
    0% {
        content: "|";
    }

    2% {
        content: "L";
    }

    4% {
        content: "La";
    }

    6% {
        content: "Lar";
    }

    8% {
        content: "Larr";
    }

    10% {
        content: "Larry";
    }

    12% {
        content: "Larry ";
    }

    14% {
        content: "Larry D";
    }

    16% {
        content: "Larry Da";
    }

    18% {
        content: "Larry Dan";
    }

    20% {
        content: "Larry Dani";
    }

    22% {
        content: "Larry Danie";
    }

    24% {
        content: "Larry Daniels";
    }

    26% {
        content: "Larry Daniel";
    }

    28% {
        content: "Larry Dani";
    }

    30% {
        content: "Larry Dan";
    }

    32% {
        content: "Larry Da";
    }

    34% {
        content: "Larry D";
    }

    36% {
        content: "Larry ";
    }

    38% {
        content: "Larry";
    }

    40% {
        content: "Larr";
    }

    42% {
        content: "Lar";
    }

    44% {
        content: "La";
    }

    46% {
        content: "L";
    }

    48% {
        content: "|";
    }

    50% {
        content: "|";
    }

    52% {
        content: "d";
    }

    54% {
        content: "de";
    }

    56% {
        content: "dev";
    }

    58% {
        content: "deve";
    }

    60% {
        content: "devel";
    }

    62% {
        content: "develop";
    }

    64% {
        content: "develope";
    }

    66% {
        content: "developer";
    }

    68% {
        content: "develope";
    }

    70% {
        content: "develop";
    }

    72% {
        content: "devel";
    }

    74% {
        content: "deve";
    }

    76% {
        content: "dev";
    }

    78% {
        content: "de";
    }

    80% {
        content: "d";
    }

    82% {
        content: "|";
    }

    84% {
        content: "|";
    }

    86% {
        content: "d";
    }

    88% {
        content: "de";
    }

    90% {
        content: "des";
    }

    92% {
        content: "desi";
    }

    94% {
        content: "desig";
    }

    96% {
        content: "designer";
    }

}
.icons{
    margin-top: 30px;
}
.icons i{
    font-size: 14px;
    border-radius: 50%;
    margin-left: 10px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.336);
}

/* ----------------------------about me------------------------------- */


.about p{
    font-family: "Poppins",sans-serif;
    color:  #748182;
    margin-top: 30px;
}

.about .text h3{
    color: black;
    font-size: 30px;
    font-weight: 800;
}
.about span{
    color: #748182;
        font-size: 15px;
        font-weight: 800;
    }
.about .ui-span{
    font-weight: 300;
    letter-spacing: 2px;
}

.about .image img{
    width: 100%;
}
.about .progress{
    margin-top: 20px;
    margin-bottom: 50px;
}
.about .text button{
    font-size: 13px;
    padding: 10px 20px 10px 20px;
}
.about .light-hover:hover{
    background-color: white;
    color: black;
}
/* ------------------------------------service---------------------------------- */
.service{
    background-color: #F7F7F7;
    padding-top: 40px;
    
}
.service h1 {
    padding-top: 40px;
    padding-bottom: 40px;
    color: black;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    
    
}
.service .item{
    
    background-color: white;
    text-align: center;
    margin-top: 30px;
    padding: 30px ;
}
.service .item p{
    color: #748182;
    font-size: 14px;
}
.service .item h3 {
    margin: 20px;
    font-size: 18px;
    font-weight: 700;
}
.service .item i{
    font-size: 30px;
    border-radius: 50%;
    background-color: #F7F7F7;
    padding: 20px;
    transition: .5s;
}
.service .item i:hover{
    background-color: black;
    color: white;
}
/* --------------------------Portfolio------------------ */
.Portfolio  h1{
    font-size: 40px;
    font-weight:800;
    padding-bottom: 50px;
    
}
.portfolio-content h4{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;

}
.Portfolio-layer{
    top: 10%;
    transition: .5s;
    opacity: 0%;
    overflow: hidden;
}
.Portfolio-card:hover .Portfolio-layer {
    top: 0%;
    opacity: 70%;
}
.Portfolio-layer i{
    color: white;
    background-color: black;
    border: solid 1px black;
    border-radius: 50%;
    padding: 10px;
}
.Portfolio-layer i:hover{
    color: black;
    background-color: white;
}
.nav-pills .nav-link{
    color: black;
    font-weight: 800;
    
}
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link{
    background-color: white;
    color: black;
    border-bottom: solid 2px black;
    border-radius: 0%;
    
}

/* ---------------------------Testimonials-------------------- */
.testimonials{
    background-color:#F7F7F7;
}
.testimonials .head h1{
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    padding-top: 50px;
}
.c-button{
    margin-bottom: 0px;
}
.testimonials .content{
    padding-bottom: 50px;
}
.carousel{
    margin-top: 50px;
}
.carousel-item{
    text-align: center;
}
.carousel-item .image{
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px; 
}
.carousel-indicators [data-bs-target]{
    width: 5px;
    border-radius: 50%;
    padding: 3px;
}
.carousel-item .image img {
    width: 100%;
    border-radius: 50%;
}
/* ---------------------------counter-------------------- */
.counter{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.counter .item i{
    font-size: 30px;
    margin-bottom: 20px;
}
.counter .item h3 {
    font-size: 30px;
    font-weight: 800;
}
.counter .item p {
    font-size: 15px;
}
/* ---------------------------------our-team--------------------------- */
.our-team{
    background-color: #F7F7F7;
    
}
.our-team-content{
    padding-bottom: 50px;
}
.our-team h1{
    font-size: 40px;
    font-weight: 800;
}
.our-team .image{
    overflow: hidden;
}

.our-team-layer{
    opacity: 0%;
    transform:scale(.5);
    transition: .5s;
    top: 1%;
    right: 1%;
    left: 1%;
    bottom: 18%;
    
}
.our-team-layer i {
    font-size: 14px;
    border: solid 1px black;
    border-radius: 50%;
    margin-left: 10px;
    padding: 15px;
    color: white;
    background-color:black;
}
.our-team-layer i:hover {
    color: black;
    background-color: white;
}
.our-team .card:hover .our-team-layer{
    animation: rotation 0.5s linear;
    transform: scale(1);
    opacity: 80%;
}
@keyframes rotation {
    0% {
       transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(90deg);
    }

    100% {
        transform: rotateY(180deg);
    }
}
.our-team .card img {
    transition: .7s;
}
.our-team  img:hover {
    transform: scale(1.4);
}
.card-footer{
    background-color: #5B5B5B;
}
.card-footer h4 {
    color: white;
}
.card-footer h5 {
    color: white;
    font-size: 25px;
    font-weight: 600;
}
/* -------------------contact us---------------- */
.contact-us h1 {
    font-size: 40px;
    font-weight: 800;
}
.contact-us p{
    color: #748182;
}
.contact-us i{
    font-size: 25px;
    color: black;
    background-color:#F7F7F7;
    border-radius: 50%;
    padding: 20px;
    transition: .5s;
}
.contact-us i:hover {
    color: white;
    background-color: black;
}
.contact-us .card{
    border: none;
}
.contact-us .form-control{
    background-color: #F4F4F4;
    border: none;
}
.contact-us .btn{
    font-size: 12px;
    padding: 10px 30px 10px 30px;
}
/* ------------------------------footer-------------------------- */